<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #cf202e;"></span>
		<span class="sg-label">
			$color-brand-red <br />
			#cf202e
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B51C28;"></span>
		<span class="sg-label">
			$color-brand-red-darker <br />
			#B51C28
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DC2230;"></span>
		<span class="sg-label">
			$color-brand-red-lighter <br />
			#DC2230
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8cc640;"></span>
		<span class="sg-label">
			$color-brand-green <br />
			#8cc640
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">
			$color-brand-grey <br />
			#666666
		</span>
	</li>
</ul>

