<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #cf202e;"></span>
		<span class="sg-label">
			$color-fint-red <br />
			#cf202e
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8cc640;"></span>
		<span class="sg-label">
			$color-vigo-green <br />
			#8cc640
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">
			$color-vigo-grey <br />
			#666666
		</span>
	</li>
</ul>

