<footer>
    <div class="f-contact"><a href="mailto:post@fintlabs.no" target="_blank">Kontakt oss</a>
    </div>
    <div class="f-footer-paragraph">
        <p>FINT forvaltes av Vigo IKS</p>
        <p>på vegne fylkeskommunene</p>
    </div>
    <div class="f-vigo-footer-link">
        <a href="http://www.vigoiks.no" target="_blank">www.vigoiks.no</a>
    </div>
</footer>