html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    color: $color-vigo-grey;
    /*
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6em;
    */
}
