.f-about-fint {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.f-about-fint p > a {
    font-size: 1.5em;
}

.f-about-fint > p {
    font-size: 1.8em;
    width: 50%;
    margin: 0;
}

.f-about-fint > img {
    width: 35%;
    max-width: 430px;
}