header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #eee;
    background-image: url(../../images/header-background.svg);
    background-position: center;
    background-size: auto;
    height: 300px;
    box-sizing: border-box;
}
.f-logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}