.f-fint-logo-normal {
    width: 150px;
}

.f-fint-logo-large {
    width: 100%;
}

.f-fint-logo-small {
    width: 50px;
}

.f-vigo-logo-normal {
    width: 75px;
}

.f-fint-vigo-logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}