.f-slogan {
    width: 100%;
    text-align: center;
    margin: 10px 10px;
}

.f-slogan > h2 {
    margin: 0;
}

.f-slogan > p {
}

.f-feature-button {
    color: #fff;
    /*text-align: center;*/
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    padding: 0 25px;
    line-height: 40px;
    /* text-decoration: none; */
    background-color: $color-fint-red;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
    border: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    /*cursor: pointer;*/
}