<div id="content">
    <header>

        <div class="f-row">
            <div class="f-logo">
                <img src="../../images/fint.svg" alt="FINTLabs" class="f-logo-normal">
                <img src="../../images/vigo.svg" alt="vigo-logo" class="f-vigo-logo-normal">
            </div>
            <nav class="f-main-menu-nav">
                <ul class="f-main-menu-nav-list">
                    <li><a href="#">Dokumentasjon</a></li>
                    <li><a href="#">Lær FINT</a></li>
                    <li><a href="#">Om FINT</a></li>
                </ul>
            </nav>
        </div>

        <div class="f-slogan">
            <h1>Semantikk + Modell + API = FINT</h1>
            <p>FINT tilrettelegger for digitalisering og interopablitet</p>
        </div>
        <div class="f-feature-buttons">
            <a href="#" target="_blank" class="f-feature-button">Informasjonsmodeller</a>
            <!--
                <button class="f-feature-button">Komme i gang</button>
                <button class="f-big-button">For leverandører</button>
            -->
        </div>

    </header>


    <button onclick="topFunction()" id="f-to-top-button"><i class='fas fa-arrow-up'></i></button>

    <main>

        <div class="f-main-content">

            <div class="f-about-fint">
                <p><a href="{{{hrefLink}}}" title="fint" class="f-link-button {{linkButtonClass}}">FINT</a>
                    gjør data fra fagsystemer tilgjengelig på en felles informasjonsmodell gjennom et nasjonalt API og
                    et felles rammeverk for modellering av informasjon. Åpne tekniske standarder og felles
                    forretningsbegreper tilrettelegger for interoperabilitet og sanntids gjenbruk av data. </p>
                <img src="../../images/fint-graph-2machines.svg" alt="image" class="f-illustration">
            </div>

        </div>

        <div class="f-homepage-section">
            <p>
                <a href="{{{hrefLink}}}" title="fint" class="f-link-button {{linkButtonClass}}">SEMANTIKK</a>
                er læren om språkets innhold, og sammenhengen mellom ord, fraser og setninger og deres betydninger
                eller meninger.
                Man skiller gjerne mellom: ordsemantikk (leksikalsk semantikk), som tar for seg betydningen til ord.
                frasesemantikk,
                som tar for seg betydningen til fraser.
            </p>
            <img src="../../images/semantikk.svg"></img>
        </div>

        <div class="f-homepage-section">
            <p>
                <a href="{{{hrefLink}}}" title="fint" class="f-link-button {{linkButtonClass}}">MODELL</a>
                An information model in software engineering is a representation of concepts and the relationships, 
                constraints, rules, and operations to specify data semantics for a chosen domain of discourse. 
                Typically it specifies relations between kinds of things, but may also include relations with individual things.
            </p>
            <img src="../../images/modell.svg"></img>
        </div>

        <div class="f-homepage-section">
            <p> 
            <a href="{{{hrefLink}}}" title="fint" class="f-link-button {{linkButtonClass}}">API</a>
            In computer programming, an application programming interface is a set of subroutine definitions, 
            communication protocols, and tools for building software. In general terms, it is a set of clearly 
            defined methods of communication among various components.
            </p>

            <img src="../../images/api.svg"></img>
        </div>
    </main>

    <footer>
        <div class="f-contact"><a href="mailto:post@fintlabs.no" target="_blank">Kontakt oss</a>
        </div>
        <div class="f-footer-paragraph">
            <p>FINT forvaltes av Vigo IKS</p>
            <p>på vegne fylkeskommunene</p>
        </div>
        <div class="f-copyright">
            <a href="www.vigoiks.no" target="_blank">www.vigoiks.no</a>
        </div>
    </footer>
</div>