<div class="f-header">
    <div class="f-row">
        <div class="f-logo">
            <img src="../../images/fint.svg" alt="FINTLabs" class="f-logo-normal">
            <img src="../../images/vigo.svg" alt="vigo-logo" class="f-vigo-logo-normal">
        </div>
        <nav class="f-menu">
            <ul class="f-menu-list">
                <li><a href="#">Dokumentasjon</a></li>
                <li><a href="#">Lær FINT</a></li>
                <li><a href="#">Om FINT</a></li>
            </ul>
        </nav>
    </div>


    <div class="f-feature-buttons">
        <button class="f-big-button">Informasjonsmodeller</button>
        <button class="f-big-button">Komme i gang</button>
        <button class="f-big-button">For leverandører</button>
    </div>


</div>


<button onclick="topFunction()" id="f-to-top-button"><i class='fas fa-arrow-up'></i></button>
<div class="f-content">

    <p class="f-about-fint"><a href="{{{hrefLink}}}" title="fint" class="f-link-button {{linkButtonClass}}">FINT</a>
        er....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien
        dui mattis dui, non pulvinar lorem felis nec erat</p>
    <img src="../../images/fint-graph-2machines.svg" alt="image" class="f-illustration">
</div>
<footer class="f-footer">
    <div class="f-contact"><a href="mailto:someone@example.com" target="_blank">Kontakt oss</a>
        <a href="www.vigoiks.no" target="_blank">www.vigoiks.no</a></div>
    <div class="f-footer-paragraph">
        <p>FINT forvaltes av Vigo IKS</p>
    </div>
    <div class="f-copyright"> &copy;
        Copyright xxxx</div>
</footer>