 <div class="f-slogan">
            <h1>Semantikk + Modell + API = FINT</h1>
            <p>FINT tilrettelegger for digitalisering og interopablitet</p>
        </div>
        <div class="f-feature-buttons">
            <a href="https://informasjonsmodell.felleskomponent.no" target="_blank" class="f-feature-button">Informasjonsmodeller</a>
</div>