<footer>
        <div class="f-contact"><a href="mailto:post@fintlabs.no" target="_blank">Kontakt oss</a>
        </div>
        <div class="f-footer-paragraph">
            <p>FINT forvaltes av Vigo IKS</p>
        </div>
        <div class="f-copyright">
            <a href="www.vigoiks.no" target="_blank">www.vigoiks.no</a>
        </div>
    </footer>
</div>