<footer class="f-footer">
			<div class="f-contact"><a href="mailto:someone@example.com" target="_blank">Kontakt oss</a>
			<a href="www.vigoiks.no" target="_blank">vigo IKS</a></div>
			<div class="f-footer-paragraph"><p>FINT forvaltes av vigo IKS</p></div>
			<div class="f-copyright"> &copy;
			Copyright xxxx</div>
		</footer>