<h1>Headings</h1>
<hr>
<div class="markdown">
    <h1>Heading level 1</h1>
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <h4>Heading level 4</h4>
    <h5>Heading level 5</h5>
    <h6>Heading level 6</h6>
</div>

<h1>Unorded list</h1>
<hr>
<div class="markdown">

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <ul>
            <li>Subitem 1</li>
            <li>Subitem 2</li>
        </ul>
    </ul>
</div>

<h1>Orded list</h1>
<hr>
<div class="markdown">
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <ol>
            <li>Subitem 1</li>
            <li>Subitem 2</li>
        </ol>
    </ol>
</div>

<h1>Paragraph</h1>
<hr>
<div class="markdown">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui
        mattis dui, non pulvinar lorem felis nec erat.
    </p>
</div>

<h1>Links</h1>
<div class="markdown">
    <a href="#">Link</a>
</div>

<h1>Quotes</h1>
<hr>
<div class="markdown">
    <blockquote>
        <p>
            We're living the future so
            the present is our past.
        </p>
    </blockquote>
</div>

<h1>Code</h1>
<hr>
<div class="markdown">
    <p>
        <code>
            code
        </code>
    </p>

    <pre>
        <code>
console.log('Hello world!');
</code>
    </pre>
</div>


<h1>Tasklist</h1>
<hr>
<div class="markdown">
    <ul>
        <li class="task-list-item" style="list-style-type: none;"><input type="checkbox" disabled="" style="margin: 0px 0.35em 0.25em -1.6em; vertical-align: middle;"
                checked=""> done</li>
        <li class="task-list-item" style="list-style-type: none;"><input type="checkbox" disabled="" style="margin: 0px 0.35em 0.25em -1.6em; vertical-align: middle;">
            not done</li>
    </ul>
</div>

<h1>Table</h1>
<hr>
<div class="markdown">
    <table>
        <thead>
            <tr>
                <th id="first_header">First Header</th>
                <th id="second_header">Second Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Content from cell 1</td>
                <td>Content from cell 2</td>
            </tr>
            <tr>
                <td>Content in the first column</td>
                <td>Content in the second column</td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Emojis</h1>
<hr>
<div class="markdown">
    <p>
        👍
        <br>
        💯
        <br>
        😄
    </p>
</div>
</div>