<nav class="f-main-menu-nav">
    <ul class="f-main-menu-nav-list">
		<li><a href="dokumentasjon">Dokumentasjon</a></li>
		<li><a href="lar-fint">Lær FINT</a></li>
		<li><a href="om-fint">Om FINT</a></li>
	</ul>
</nav>